.menu-btn {
    display: inline-block;
    margin-top: 15px;
    background-color: #DAA520;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .menu-btn:hover {
    background-color: #c2981a;
  }
  